@font-face {
    font-family: mainTitle;
    src: url('PAC-FONT.TTF');
    font-style: normal;
}

@font-face {
    font-family: normalText;
    src: url('ARCADECLASSIC.TTF');
    font-style: normal;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    background-image: url('91657.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    flex: 0 100px;
    display: flex;
}

h1 {
    font-family: mainTitle;
    color: aliceblue;
    font-size: 100px;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(1) {
    flex: 2;

    display: flex;
    justify-content: end;
}
section:nth-child(2) {
    flex: 2;
    padding-left: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer {
    flex: 0 100px;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

li, 
footer {
    color:indigo;
    font-family: normalText;
    font-size: 35px;
    filter: brightness(180%);
    list-style-type: none;
}

/* add an arrow when hovering over a link */
li:hover, 
a:hover {
    filter: brightness(200%);
}

footer a {
    padding-left: 5vh;
    padding-right: 5vh;
}
