@font-face {
    font-family: mainTitle;
    src: url('PAC-FONT.TTF');
    font-style: normal;
}

@font-face {
    font-family: normalText;
    src: url('ARCADECLASSIC.TTF');
    font-style: normal;
}

a {
    text-decoration: none;
}

/* fix screen so it id fixed and doesn't scroll */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 25vh;
    margin-bottom: 5vh;
    background-image: url('91657.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    flex: 0 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: mainTitle;
    color: aliceblue;
    font-size: 100px;
}

main {
    flex: 0 10vh;
    display: flex;
    /* margin-left: 10vh; */
    justify-content: center;
    align-items: center;
}

/* fix spacing between name and github */
footer {
    flex: 0 10vh;
    display: flex;
    padding-top: 10vh;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

li, 
footer {
    color:indigo;
    font-family: normalText;
    font-size: 40px;
    filter: brightness(180%);
    list-style-type: none;
}

/* add an arrow when hovering over a link */
li:hover, 
a:hover {
    filter: brightness(200%);
}
