@font-face {
    font-family: mainTitle;
    src: url('fonts/PAC-FONT.TTF');
    font-style: normal;
}

@font-face {
    font-family: normalText;
    src: url('fonts/ARCADECLASSIC.TTF');
    font-style: normal;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    background-image: url('91657.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    flex: 0 0 160px !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
}

header h1 {
    font-family: mainTitle;
    color: aliceblue;
    font-size: 50px;
}

li {
    padding: 10px;
    display: inline;

    color:indigo !important;
    font-family: normalText;
    font-size: 30px;
    filter: brightness(150%);
    list-style-type: none;
}

main {
    flex: 1 !important;
    color:indigo;
    filter: brightness(170%);
    font-family: normalText;
    font-size: 30px;

    display: flex !important;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    overflow-y: hidden;
}

main h1, th {
    filter: brightness(300%);
}

main h1 {
    flex: 0 0 60px;
}

table {
    max-height: 500px;
    overflow: hidden;
}

thead {
    /* display: table; */
    /* width: 790px; */
    /* table-layout: fixed; */
    text-align: center;
    padding: 20px;
    margin-bottom: 7px;
}

tbody {
    /* display: block;
    table-layout: fixed;
    width: 710px;
    overflow: auto; */
    text-align: center;
}

td {
    padding: 10px;
}

li:hover, a:hover {
    filter: brightness(200%) !important;
}
