@font-face {
    font-family: mainTitle;
    src: url('fonts/PAC-FONT.TTF');
    font-style: normal;
}

@font-face {
    font-family: normalText;
    src: url('fonts/ARCADECLASSIC.TTF');
    font-style: normal;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    background-image: url('91657.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    font-family: mainTitle;
    color: aliceblue;
    font-size: 100px;
}

h2 {
    font-size: 50px;
    filter: brightness(200%);
}

main {
    flex: 1 !important;

    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

#top {
    flex: 1 0 40% !important;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#bottom {
    flex: 1 0 60% !important;
    color:indigo;
    font-family: normalText;
    font-size: 35px;
    filter: brightness(200%);

    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: start !important;
}

#loginControls {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group-text {
    display: inline-block;
    width: 160px;
    text-align: right;
}

.nes-input {
    display: table-cell;
    height: 55px;
    width: 350px !important;
}

.inline, .playerName {
    display: inline-block;
    margin-top: 35px;
}

.btn-primary {
    margin-right: 10px;
}

#invalid-input {
    margin-top: 10px;
}
